@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Google-Fonts */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;

}


/* ===========================
Header-part css start 
==============================*/


.header-part {
    background-color: #0A303A;
    border-radius: 20px;
}

.container {
    width: 1321px;
    height: 646px;
}

.header-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-details .text {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 70px;
}

.header-details .img {
    width: 100%;
    height: 100%;
}

.header-details .img img {
    width: 100%;
    animation: hover 2.5s ease-in-out 0.5s infinite alternate;
    animation-play-state: running;
}

@keyframes hover {
    from {
        width: 80%;
    }

    to {
        width: 93%;
    }
}

.header-part h3 {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
}

.header-part p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

.header-part a {
    color: #fff;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 15px;
}

.header-part a i {
    color: #fff;
    font-size: 15px;
    transition: .4s;
}

.header-part a:hover i {
    margin-left: 10px;
}

/* ===========================
Header-part css end
 ==============================*/

.contain-part {
    margin-top: 50px !important;

}

.contain-part .blogs {
    width: 312px;
    height: 312px;
    background-color: #0A303A;
    text-align: center;
    border-radius: 20px;
}

.contain-part .blogs a {
    background-color: #fff;
}

.contain-part .blogs .match {
    padding-top: 70px;
    margin-bottom: 40px;
}

.contain-part .blogs .match a {
    padding: 10px 35px;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    transition: .4s;
}

.contain-part .blogs .group {
    margin-bottom: 40px;
}

.contain-part .blogs .group a {
    padding: 10px 86px;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    transition: .4s;
}

.contain-part .blogs .blog {
    margin-bottom: 40px;
}

.contain-part .blogs .blog a {
    padding: 10px 110px;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    transition: .4s;
}

.contain-part .blogs .match a:hover {
    background-color: tomato;
    color: #fff;
}

.contain-part .blogs .group a:hover {
    background-color: tomato;
    color: #fff;
}

.contain-part .blogs .blog a:hover {
    background-color: tomato;
    color: #fff;
}

.contain-part .contains {
    display: flex;
    justify-content: space-between;
}

.contain-part .coluam-img {
    margin: 7px;

}

.contain-part .card {
    width: 312px;
    height: 362px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contain-part .card img {
    width: 100%;
}

.contain-part .card-details {
    width: 315px;
    padding: 15px;
}

.contain-part .card-details h5 {
    width: 80px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.contain-part .card-details h3 {
    margin-bottom: 10px;
}

.contain-part .card-details .social {
    display: flex;
}

.contain-part .card-details .watch {
    margin-right: 60px;
}

.all-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

/* ======================================
Footer-part css start
====================================== */
.container3 {
    width: 100%;
}

footer {
    background-color: #0A303A;
    padding: 20px;
    margin-top: 20px;
}

.footer-text h1 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    padding: 20px;
}

.footer-item {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;

}

.footer-item a {
    color: #fff;
}

.social-icon .icon {
    text-align: center;
}

.social-icon .icon i {
    font-size: 25px;
    color: #fff;
    padding-left: 10px;
    transition: .4s;
}

.social-icon .icon i:hover {
    color: tomato;
}

/* ======================================
Footer-part css end
====================================== */


/* ========================================
              Media Querious
 ================================================*/
/* Mobile Devices */
@media only screen and (max-width:576px) {
    .container {
        width: 100%;
        padding: 30px 15px;
        height: 621px;
    }


    .header-details {
        gap: 50px;
        grid-template-columns: repeat(1, 1fr);
    }

    .header-part h3 {
        font-size: 22px;
    }

    .header-part p {
        font-size: 14px;

    }

    @keyframes hover {
        from {
            width: 300px;
        }

        to {
            width: 320px;
        }
    }

    .header-details .text {
        padding-top: 0px;
        padding-left: 0px;
        text-align: center;
    }

    .contain-part .contains {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .all-details {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-item {
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
        gap: 20px;
    }

}

/* Tablet Devices */

@media only screen and (min-width:576px) and (max-width:768px) {

    .container {
        width: 100%;
        padding: 30px 15px;
        height: 400px;
    }

    .header-details {
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

    .header-details .text {
        padding-top: 0px;
        padding-left: 0px;
        text-align: center;
    }

    .header-part h3 {
        font-size: 40px;
    }

    .header-part p {
        font-size: 10px;
        padding: 0 10px;

    }

    .contain-part .contains {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .all-details {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-item {
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
        gap: 20px;
    }
}